
div {
  /* padding-left: 500px; */
  background-color: rgb(202, 112, 124);
  width: 340px;
  height: 340px;;
  /* border: 5px none; */
  border-radius: 30px;
  border-style:none;
  padding: 20px;
  margin-left: 500px;
  margin-top: 100px;
  /* margin-top: 80px; */

}

img{
  border-radius: 50%;
  border-color: rgb(247, 250, 248);
  border-style:solid;
  width: 90px;
  height: 90px;
  margin-bottom: -20px;
  
}

h3{
  /* margin-left: 139px; */
  text-align: center;
  margin-bottom: -10px;
  margin-bottom: 10px;
}

h1{
  color: rgb(242, 248, 244);
  /* font-style:normal */
  /* margin-left: 130px; */
  text-align: center;
  margin-bottom: 40px;
}

p{
  color: rgb(255, 255, 255);
  font-style: oblique;
  text-align: center;
  /* margin-bottom: -30px; */
}


